<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Dead End</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/index.html">HomePage</a>
            </li>
            <li>
                <a href="/about.html">About the Person behind</a>
            </li>
            <li>
                <a href="/works.html">Works Page</a>
            </li>
            <li>
                <a href="/gallery.html">Gallery</a>
            </li>
        </ul>
    </nav>
    <h1>Wrong way</h1>
</body>

</html>