<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Idole Page</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/index.html">HomePage</a>
            </li>
            <li>
                <a href="/about.html">About the Person behind</a>
            </li>
            <li>
                <a href="/works.html">Works Page</a>
            </li>
            <li>
                <a href="/gallery.html">Gallery</a>
            </li>
        </ul>
    </nav>
    <h1>Here are some Picture from the Actor and his Works combind in a gallery</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDE2jixrqfrVTInpVuCID5bdVxqKG0WD2OhA&usqp=CAU" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5ZMM-7cJkE8NAl9YdXcoFij38PiT_dvdTQA&usqp=CAU" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMIAhLHRHoWCGPX4EzknY1HhTXj5akBKvryw&usqp=CAU" alt="">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3oRWzfMTYF98Ja3jejwUwOFqRgmeFvTD9SA&usqp=CAU" alt="">
    <img src="/img/images.jpeg" width="200px" height="200px" alt="">
</body>

</html>